node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.git
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
dist/
coverage/
myapp/node_modules
myapp/dist
myapp/.umi
myapp/.umi-production
tests/
